<div class="container">
    <h2 style="margin-left: 500px;">DEPT DATA</h2>
    <table  border="3" class="table table-hover table-dark table-bordered margin-left:80px;">
        <thead>
        <tr>
            <th>Department No</th>
            <th>Department Name</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Depttemp of departments">
            <td>{{Depttemp.deptno}}</td>
            <td>{{Depttemp.deptname}}</td>
            <td>{{Depttemp.location}}</td>
        </tr>
    </tbody>
</table>
</div>
<div class="container" style="margin-top: 30px;">
    <h2 style="text-align: center;">Add Data</h2>
    <form #Data="ngForm" (ngSubmit)="onSubmit()" style="margin-left: 40%;">
        <div class="row">
            <div class="col-sm-3"><label for="">Product Id</label></div>
            <div class="col-sm-6"><input type="text" name="deptno"  [(ngModel)]="formModel.deptno"></div>
        </div>&nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Department Name</label></div>
            <div class="col-sm-6"><input type="text" name="deptname"  [(ngModel)]="formModel.deptname"></div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Location</label></div>
            <div class="col-sm-6"><input type="text" name="location"  [(ngModel)]="formModel.location"></div>
        </div>
        <div class="row">
            <div class="col-sm-8"><input type="submit" value="Submit" name="submit" class="btn btn-primary"></div>
        </div>
    </form>
</div>
