<h2>WELCOME TO THE SHOP</h2>
<div class="images">
    <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="...">
</div>
<div class="container" style="margin-top : 4%">
    <button class="btn btn-info" (click)="productDetails()" >List of Products</button>
    &nbsp;
    <button class="btn btn-info" (click)="categoryDetails()" >Categories</button>
    <br>
    &nbsp;
    <button class="btn btn-success" (click)="addProducts()" style="margin-top: 20px;margin-left: 60px;">Add Products</button>
</div>
